{% extends 'base.html' %} {% block navbar %}
<header class="site-header">
  <nav class="navbar sticky-top navbar-expand-lg justify-content-between navbar-dark bg-primary flex-row flex-wrap">
    <a class="navbar-brand col-md-auto pt-1 ps-3 pe-3 fs-2 fw-bold" href={% url 'home' %}>Amazonia</a>
    <button
      class="navbar-toggler col-md-auto m-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse p-2 navbar-collapse justify-content-end flex-row" id="navbarSupportedContent">
      <ul class="navbar-nav flex-row flex-wrap">
        {% if user.is_authenticated %}
        {% if request.session.user_type == 'customer' %}
        <li class="nav-item col-6 col-md-auto h-100">
          <a class="nav-link m-2 p-2 fs-5 btn btn-primary position-relative" href="{% url 'view_cart' %}">
            <i class="fa-solid fa-cart-shopping"></i> Cart
            <span id="cartcount" class="fs-6 text-white position-absolute top-0 start-100 p-1 translate-middle bg-danger rounded-circle">
              {{ request.session.cart_count }}
            </span>
          </a>
        </li>
        {% endif %}
        <li class="nav-item col-6 col-md-auto">
          <div class="btn-group m-2">
            <button type="button" class="btn btn-primary pt-0 pb-0"><a class="nav-link fs-5" href="#"><i class="fa-solid fa-user"></i> Profile</a></button>
            <button type="button" class="btn btn-primary dropdown-toggle-split pt-0 pb-0" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="nav-link fa-solid fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu p-0">
              {% if request.session.user_type == 'supplier' %}
              <li class="h-100 p-0"><a class="nav-link btn btn-primary w-100 h-100 p-3 rounded-0" href={% url 'add_product' %}><i class="fa-solid fa-gifts"></i> Add a Product</a></li>
              {% endif %}
              <li class="h-100 p-0"><a class="nav-link btn btn-primary w-100 h-100 p-3 rounded-0" href={% url 'logout' %}><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
          </div>
        </li>
        {% else %}
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2 m-2 fs-5 btn btn-primary" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        </li>
        <li class="nav-item col-6 col-md-auto">
          <a class="nav-link p-2 m-2 fs-5 btn btn-primary" href="{% url 'customer_register' %}"><i class="fa-solid fa-user-plus"></i> Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
{% endblock navbar %}